.conteiner {
    width: 1170px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

button {
    padding: 5px;
    background-color: #fff;
    margin: 10px 0;
}

.table {
    border: 1px solid black;
    display: none;
    margin-top: 20px;
    background-color: #fff;
}

th,
td {
    border: 1px solid black;
    padding: 7px;
    min-height: 10px;
    min-height: 20px;
}