.conteiner {
    width: 1170px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

.table {
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 7px;
    min-height: 10px;
    min-height: 20px;
}