* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    line-height: 18px;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header_top {
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgb(217, 217, 217);
    background-color: white;
    box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
}

.header_top>.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 51px;
}

.header_top>.container>.contact_box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid rgb(217, 217, 217);
    padding: 0 15px;
    border-right: 1px solid rgb(217, 217, 217);
}

.container>.header_bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 51px;
    align-items: center;
}

.container>.header_bottom>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.container>.header_bottom>ul>li {
    padding: 0 10px;
}

.header_bottom>ul>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(37, 37, 37);
    border-bottom: 2px solid transparent;
}

.header_bottom>ul>li>a:hover {
    border-bottom: 2px solid rgb(255, 115, 0);
    color: #090909;
    transition: 1s;
}

.phone,
.email,
.instagram {
    color: rgb(143, 143, 143);
    position: relative;
    padding-left: 25px;
}

.phone,
.email {
    margin-right: 10px;
}

.viber {
    padding-right: 30px;
}

.phone a,
.email a {
    color: rgb(143, 143, 143);
}

.instagram a {
    color: #980cdb;
}

.instagram a:hover {
    color: #e98602;
}

.phone a:hover,
.email a:hover {
    color: #3224e9;
}

.instagram::before {
    position: absolute;
    content: url(../img/instagram.png);
    width: 20px;
    height: 20px;
    left: 1px;
}

.life::before {
    position: absolute;
    content: url(../img/life.png);
    width: 20px;
    height: 20px;
    left: 1px;
}

.mts::before {
    position: absolute;
    content: url(../img/mts.png);
    width: 20px;
    height: 20px;
    left: 1px;
}

.email::before {
    position: absolute;
    content: url(../img/email.png);
    width: 20px;
    height: 20px;
    left: 1px;
}

.viber::after {
    position: absolute;
    content: url(../img/viber.png);
    width: 20px;
    height: 20px;
    right: 7px;
}

.btn {
    display: inline-block;
}

.btn_top {
    background-color: white;
    color: rgb(143, 143, 143);
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 30px;
    box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 30px;
}

.btn_top:hover {
    background-color: rgb(255, 115, 0);
    color: white;
    transition: 1s;
}

.logo {
    display: block;
}

.top {
    background: linear-gradient(to bottom, white 50%, rgb(211, 217, 238));
    height: calc(100vh - 151px);
}

.top>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 50%;
}

.left>h1 {
    font-size: 44px;
    color: rgb(38, 38, 38);
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
}

.left>p {
    font-size: 18px;
    font-weight: 500;
    color: rgb(111, 111, 111);
    line-height: 22px;
    padding: 10px 0;
}

.right img {
    max-height: calc(100vh - 151px);
}

.uslugi_section {}

.uslugi_section h2,
.brand_section h2 {
    font-size: 44px;
    color: rgb(38, 38, 38);
    font-weight: 600;
    line-height: 50px;
    margin: 30px 0 10px 0;
    text-align: center;
}

.uslugi_section p,
.brand_section p {
    font-size: 18px;
    font-weight: 500;
    color: rgb(111, 111, 111);
    line-height: 22px;
    margin: 0 30px;
    padding: 10px 0;
    text-align: center;
}

.uslugi_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.uslugi {
    text-align: center;
    padding: 30px 10px;
    margin: 20px 0;
    width: 25%;
    box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
}

.uslugi>h3 {
    color: rgb(111, 111, 111);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.uslugi>p {
    color: rgb(111, 111, 111);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.brand_section {
    background-color: #f4f6fd;
    padding-top: 1px;
}


/* Карусель с codepen START*/

.brand {
    /* width: 100%; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gc_right,
.gc_left {
    box-sizing: border-box;
}

.gc_left {
    width: 25%;
}

.gc_right {
    width: 70%;
}

.menu>div {
    padding: 15px 25px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background: #3F51B5;
    border-left: 3px solid transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    vertical-align: middle;
    font-weight: 700;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu>div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: 3px solid transparent;
}

.menu>div.active {
    color: #FBC02D;
    border-left: 3px solid #FBC02D;
}

ul.nacc {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
    display: none;
    list-style: none;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    display: block;
}

ul.nacc li p {
    margin: 0;
}

.nacc>li>div {
    text-align: center;
}


/* Карусель с codepen  END*/

footer {
    height: 80px;
    background-color: #3F51B5;
    /* margin-top: 40px; */
}

@media (max-width:1170px) {
    .container {
        max-width: 992px;
    }
    .header_top>.container {
        justify-content: space-around;
    }
    .container>.header_bottom {
        justify-content: space-around;
    }
    .top {
        /* height: auto; */
    }
    .top>.container {
        justify-content: space-around;
    }
    .uslugi {
        width: 30%;
    }
    .brand {
        justify-content: space-around;
    }
}

@media (max-width:992px) {
    body {
        font-size: 0.85em;
    }
    .container {
        max-width: 767px;
    }
    .btn_top {
        padding: 8px 18px;
    }
    .container>.header_bottom>ul>li {
        padding: 0 7px;
    }
    .header_bottom>ul>li>a {
        font-size: inherit;
    }
    .left {
        width: 65%;
    }
    .uslugi {
        width: 40%;
    }
    .uslugi_section p,
    .brand_section p {
        margin: 0 13px;
    }
    .brand {
        flex-direction: column;
    }
    .gc_left {
        width: auto;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .menu>div {
        flex-basis: 20%;
        text-align: center;
    }
    .gc_right {
        width: auto;
    }
}

@media (max-width:767px) {
    .container {
        width: calc(100vw - 10px);
    }
    .header_top>.container {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    .container>.header_bottom {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header_top>.container>.contact_box {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container>.header_bottom>ul {
        flex-direction: column;
        flex-wrap: wrap;
    }
    section {
        padding: 15px 0;
    }
    .top {
        height: auto;
    }
    .right {
        display: none;
    }
    .left {
        width: auto;
        text-align: center;
    }
    .uslugi {
        width: 90%;
    }
    .uslugi>img {
        max-width: 25vw;
    }
    header {}
    .header_top {
        position: fixed;
        height: calc(100vh - 80px);
        width: 100vw;
        top: 80px;
        background-color: #2c2c2c;
        color: white;
    }
    .header_top>.container> {
        /* height: 60vh; */
        padding: 30px 10px;
    }
    .phone,
    .email,
    .instagram,
    .btn {
        height: 10vh;
    }
    .header_top>.container>.contact_box {
        /* margin: 30px 10px 0 10px; */
        align-items: flex-start;
        font-size: 1.8em;
        border-left: 3px solid rgb(209, 125, 12);
        border-right: none;
        /* height: 10vh; */
    }
    .header_top>.container>.contact_box:nth-child(2) {
        /* height: 40vh; */
    }
}

@media (max-width:380px) {}