body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.box {
    margin: 20px;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(115, 17, 226);
    border-left: 20px solid transparent;
}

.box_2 {
    margin: 20px;
    width: 0px;
    height: 0px;
    border-top: 40px solid rgb(115, 17, 226);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}

.container {
    border: 2px solid blue;
    padding: 5px 4px 5px 2px;
    width: 400px;
    color: green;
    margin: 5px;
}

.container p {
    border: 2px solid red;
    width: 250px;
}

.container ul {
    border: 2px solid green;
    margin-right: 7px;
}

.container li {
    border: 2px solid #d41575;
    margin: 3px 20px;
    width: 70%;
}